<div class="a-fadein">
    <span class="input-group flashing" daterangepicker (selected)="selectedDate($event, rangeValue)" style="max-width: 250px;float: right">
        <span class="form-control uneditable-input"  name="daterange" >
            {{ rangeValue[0] | date:'y-M-d'}} ~ {{ rangeValue[1] | date:'y-M-d'}}
        </span>
        <span class="input-group-btn">
            <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
        </span>
    </span>
    <div *ngIf="barChartStandby" style="display: block;">
        <canvas id="chart" baseChart width="400" height="150"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
    </div>
    <app-data-table
            *ngIf="tableVisible"
            [data]="avgData"
            [devices]="devices"
            [limit]="tableRowLimit"
            [property]="['device_id','pm1','pm25','pm10','temp','humid']"
            [title]="['位置','PM1','PM2.5','PM10','溫度','濕度']">
    </app-data-table>
    <app-loading [loading]="loading"></app-loading>
</div>