/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
agm-map {
    height: calc(100vh - 50.8px);
    width: calc(100vw);
    margin: 0;
    padding: 0;
}
@media (min-width:768px) {
    agm-map {
        width: calc(100vw - 225px);
    }
}