<div class="a-fadein">
    <div *ngIf="!loading">
        <agm-map [usePanning]="true" (mapReady)="mapReady($event)">
            <agm-marker *ngFor="let data of allDevicesDetails" [latitude]="data.gps_lat" [longitude]="data.gps_lon" [iconUrl]="data.icon" (markerClick)='markerClicked([data.gps_lat,data.gps_lon])'>
                <agm-snazzy-info-window [isOpen]="false" [maxWidth]="300" [closeOnMapClick]="true" [closeWhenOthersOpen]="true" class="myClass">
                    <ng-template>
                        Name: {{data.device_id}}
                        <div *ngIf="data">
                            PM1: {{data.pm1}}<br>
                            PM2.5: {{data.pm25}}<br>
                            PM10: {{data.pm10}}<br>
                            溫度: {{data.temp}}<br>
                            濕度: {{data.humid}}<br>
                            時間: {{data.time}}
                        </div>
                    </ng-template>
                </agm-snazzy-info-window>
            </agm-marker>
        </agm-map>
    </div>
    <app-loading [loading]="loading"></app-loading>
</div>