/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Noto Sans", "Noto Sans JP","Noto Sans TC","Noto Sans SC", "Microsoft JhengHei", "Heiti TC", sans-serif;
}
/*map css*/
.si-content-wrapper{
    padding: 15px;
}

.version{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 8px;
    margin: 1px;
    color: rgb(70, 70, 70);
}

