/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: "Microsoft JhengHei", "Heiti TC", sans-serif;
}
/*map css*/
.noPadding{
    padding: 0px 0px !important;
}

.si-content-wrapper{
    padding: 15px;
}

.version{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 8px;
    margin: 1px;
    color: rgb(70, 70, 70);
}

.sebm-google-map-container {
    height: 300px;
}


/*dateRangePicker Flash animation*/
.flashing{
    color:#fff;
    border:solid 1px black;
    border-radius: 4px;
    animation-name: flash;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    /* Chrome 4+, Safari 4+, Opera 15+ */
    -webkit-animation-name: flash;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-shadow: 0 0 8px #000000;

    /* Firefox 5+ */
    -moz-animation-name: flash;
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-box-shadow: 0 0 8px #000000;
}

@keyframes flash {
    0% { opacity: 1.0 }
    90% { opacity: 0.5 }
    100% { opacity: 1.0 }
}

/* Chrome 4+, Safari 4+, Opera 15+ */
@-webkit-keyframes flash {
    0% { opacity: 1.0 }
    90% { opacity: 0.5 }
    100% { opacity: 1.0 }
}

/* Firefox 5+ */
@-moz-keyframes flash {
    0% { opacity: 1.0 }
    90% { opacity: 0.5 }
    100% { opacity: 1.0 }
}

.form-control{
    height: 34.4px
}