<div *ngIf="datasIsReady" style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table
                headerTitle=" "
                [items]="items"
                [itemCount]="itemCount"
                (reload)="reloadItems($event)"
    >
        <data-table-column
                property="time"
                header="Time"
                sortable="true"
                width="200px">
        </data-table-column>
        <data-table-column
                property="pm1"
                header="PM1"
                sortable="true">
        </data-table-column>
        <data-table-column
                property="pm25"
                header="PM2.5"
                sortable="true">
        </data-table-column>
        <data-table-column
                property="pm10"
                header="PM10"
                sortable="true">
        </data-table-column>
        <data-table-column
                property="temp"
                header="溫度"
                sortable="true">
        </data-table-column>
        <data-table-column
                property="humid"
                header="濕度"
                sortable="true">
        </data-table-column>
    </data-table>
</div>