<div class="a-fadein">
    <div>
    <ul class="nav nav-tabs">
      <li role="presentation" [ngClass]="{'active': dataSet=='pm1'}"><a href="javascript:void(0);" (click)="dataSet='pm1';setCharts();calcPercentageData()">PM1</a></li>
      <li role="presentation" [ngClass]="{'active': dataSet=='pm25'}"><a href="javascript:void(0);" (click)="dataSet='pm25';setCharts();calcPercentageData()">PM2.5</a></li>
      <li role="presentation" [ngClass]="{'active': dataSet=='pm10'}"><a href="javascript:void(0);" (click)="dataSet='pm10';setCharts();calcPercentageData()">PM10</a></li>
      <li role="presentation" [ngClass]="{'active': dataSet=='temp'}"><a href="javascript:void(0);" (click)="dataSet='temp';setCharts();calcPercentageData()">溫度</a></li>
      <li role="presentation" [ngClass]="{'active': dataSet=='humid'}"><a href="javascript:void(0);" (click)="dataSet='humid';setCharts();calcPercentageData()">濕度</a></li>

      <span class="input-group flashing" daterangepicker (selected)="selectedDate($event, rangeValue)" style="max-width: 250px;float: right">
        <span class="form-control uneditable-input"  name="daterange" >
            {{ rangeValue[0] | date:'y-M-d'}} ~ {{ rangeValue[1] | date:'y-M-d'}}
        </span>
        <span class="input-group-btn">
            <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
        </span>
      </span>
    </ul>

    <div *ngIf="lineChartStandby" style="display: block;">
      <canvas id="chart" baseChart width="400" height="120"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
    </div>

      <app-data-table
              *ngIf="tableVisible && (dataSet=='pm25' || dataSet=='pm10')"
              [data]="percentageData"
              [devices]="devices"
              [limit]="tableRowLimit"
              [property]="percentageProperty"
              [title]="percentageTitle"
              [sortable]="percentageSortable"
              [titleClass]="percentageTitleClass">
      </app-data-table>
    </div>
    <div *ngIf="tableVisible">

        <hr>
        <h2>數據總覽</h2>
      <app-data-table
              [data]="data"
              [devices]="devices" >
      </app-data-table>
    </div>
    <app-loading [loading]="loading"></app-loading>
    <app-portraitWarn></app-portraitWarn>
</div>

