<div>
  <!--
      <h1>Dashboard</h1>
      <section class="row text-center placeholders">
          <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <div class="text-muted">Something else</div>
          </div>
          <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
          </div>
      </section>
  -->
  <h2>歷史查詢</h2>
  <input type="text"
         value="{{ bsRangeValue[0] | date:'yMd'}} - {{ bsRangeValue[1] | date:'yMd'}}"
         bsDaterangepicker [(bsValue)]="bsRangeValue">
    <span style="display: inline-block">
      <button class="btn btn-success" (click)="drp.toggle()">Date Range Picker popup</button>
      <bs-daterangepicker #drp [(bsValue)]="bsRangeValue" placement="bottom" style="display: block"></bs-daterangepicker>
    </span>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>time</th>
        <th>PM1</th>
        <th>PM2.5</th>
        <th>PM10</th>
        <th>temp</th>
        <th>humid</th>
        <th>clientNum</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of datas">
        <td [innerHtml]="data.time"></td>
        <td [innerHtml]="data.pm1"></td>
        <td [innerHtml]="data.pm25"></td>
        <td [innerHtml]="data.pm10"></td>
        <td [innerHtml]="data.temp"></td>
        <td [innerHtml]="data.humid"></td>
        <td [innerHtml]="data.clientNum"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
