<div *ngIf="dataIsReady" style="margin: auto; margin-bottom: 50px;">
    <data-table headerTitle="" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" [limit]="limit" style="min-width: 675px;">
        <data-table-column
                *ngFor="let p of property;let idx=index"
                property="{{p}}"
                header="{{title[idx]}}"
                sortable="true">

            <!--位置顯示文字 -->
            <ng-template #dataTableCell let-item="item" *ngIf="p=='clientNum'">
                <span *ngIf="item.clientNum!==undefined">{{clientInfo[item.clientNum].name}}</span>
            </ng-template>
        </data-table-column>

    </data-table>
</div>