@import "../../../assets/animation.css";
.row{
    margin: 0 -5px 5px -5px;
}

.panel{
    margin-bottom: 5px;
}

.mapParent{
    height: calc(50vh - 25.4px);
    display:flex;
    display: -webkit-flex;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.width100{
    width: 100%;
}
