<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header" style="border-bottom: 0px;margin-bottom: -20px">
        設定
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-12 col-md-4" style="border-top: 1px solid #eee;margin-top: 20px;padding-top: 10px;">
      <form role="form">
        <div class="form-group">
          <label>顯示附近測站</label>
          <div class="checkbox">
            <label><input type="checkbox" value="" [(ngModel)]="displayNearest" name="displayNearest">顯示最靠近之測站</label>
          </div>
        </div>


        <div class="form-group">
          <label>網站顯示測站</label>
          <div *ngFor="let userDevice of userDevices; let i = index">
            <div ngbDropdown class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{userDevice[0]}}
                <span class="caret"></span>
              </button>
              <ul ngbDropdownMenu class="dropdown-menu">
                <li (click)="deviceChange(i,'取消選擇','text')"><a href="javascript:void(0);">取消選擇</a></li>
                <li role="separator" class="divider"></li>
                <li (click)="deviceChange(i,'THU專題測站','text')"><a href="javascript:void(0);" style="font-weight: bold">THU專題測站</a></li>
                <li *ngFor="let device of deviceList" (click)="deviceChange(i,device.device_id,'THU')"><a href="javascript:void(0);">{{device.device_id}}</a></li>

                <li role="separator" class="divider"></li>
                <li (click)="deviceChange(i,'LASS專案測站','text')"><a href="javascript:void(0);" style="font-weight: bold">LASS專案測站</a></li>
                <li *ngFor="let device of LASSDeviceList" (click)="deviceChange(i,device.device_id,'LASS')"><a href="javascript:void(0);">{{device.device_id}}</a></li>
              </ul>
            </div>
            <hr/>
          </div>
          <br>
          <div class="btn btn-default" (click)="addUserDevice()">
            + Add
          </div>
        </div>

        <button type="button" class="btn btn-default" (click)="reset()">還原</button>
        <button type="submit" class="btn btn-primary" (click)="saveDeviceSettings()">儲存</button>

      </form>
    </div>
    <div class="col-sm-12 col-md-8" style="border-top: 1px solid #eee;margin-top: 20px;padding-top: 10px;">
      <form role="form">
        <div class="form-group" style="max-width: 300px">
          <label>IFTTT Webhook Key</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="iftttKey" type="text" class="form-control" name="iftttKey" [(ngModel)]="iftttKey">
          </div>
          <p class="help-block">請填入IFTTT Webhook Key: <a href="https://ifttt.com/maker_webhooks" target="_blank">https://ifttt.com/maker_webhooks</a></p>
        </div>
        <div class="form-group" *ngIf="iftttKey.length">
          <div class="row">
            <div class="col-xs-12 col-sm-5 maxW1">
              <label>測站</label>
            </div>
            <div class="col-xs-8 col-sm-3 maxW2">
              <label>觀測對象</label>
            </div>
            <div class="col-xs-4 col-sm-2">
              <label>警示值(大於等於)</label>
            </div>
          </div>
          <div class="row" *ngFor="let iftttDevice of iftttDevices; let i = index">
            <div ngbDropdown class="dropdown col-xs-12 col-sm-5 maxW1">
              <button class="btn btn-default dropdown-toggle" type="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{iftttDevice[0]}}
                <span class="caret"></span>
              </button>
              <ul ngbDropdownMenu class="dropdown-menu">
                <li (click)="deviceChange2(i,'取消選擇','text')"><a href="javascript:void(0);">取消選擇</a></li>
                <li role="separator" class="divider"></li>
                <li (click)="deviceChange2(i,'THU專題測站','text')"><a href="javascript:void(0);" style="font-weight: bold">THU專題測站</a></li>
                <li *ngFor="let device of deviceList" (click)="deviceChange2(i,device.device_id,'THU')"><a href="javascript:void(0);">{{device.device_id}}</a></li>

                <li role="separator" class="divider"></li>
                <li (click)="deviceChange2(i,'LASS專案測站','text')"><a href="javascript:void(0);" style="font-weight: bold">LASS專案測站</a></li>
                <li *ngFor="let device of LASSDeviceList" (click)="deviceChange2(i,device.device_id,'LASS')"><a href="javascript:void(0);">{{device.device_id}}</a></li>
              </ul>
            </div>

            <div ngbDropdown class="dropdown col-xs-8 col-sm-3 maxW2">
              <button class="btn btn-default dropdown-toggle" type="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{(iftttDevice[2]=='AQI')?'空氣品質':''}}
                {{(iftttDevice[2]=='pm1')?'PM1':''}}
                {{(iftttDevice[2]=='pm25')?'PM2.5':''}}
                {{(iftttDevice[2]=='pm10')?'PM10':''}}
                {{(iftttDevice[2]=='co2')?'CO2':''}}
                {{(iftttDevice[2]=='temp')?'溫度':''}}
                {{(iftttDevice[2]=='humid')?'濕度':''}}
                <span class="caret"></span>
              </button>
              <ul ngbDropdownMenu class="dropdown-menu">
                <li (click)="deviceChange2_1(i,'AQI')"><a href="javascript:void(0);">空氣品質</a></li>
                <li (click)="deviceChange2_1(i,'pm1')"><a href="javascript:void(0);">PM1</a></li>
                <li (click)="deviceChange2_1(i,'pm25')"><a href="javascript:void(0);">PM2.5</a></li>
                <li (click)="deviceChange2_1(i,'pm10')"><a href="javascript:void(0);">PM10</a></li>
                <li (click)="deviceChange2_1(i,'co2')"><a href="javascript:void(0);">CO2</a></li>
                <li (click)="deviceChange2_1(i,'temp')"><a href="javascript:void(0);">溫度</a></li>
                <li (click)="deviceChange2_1(i,'humid')"><a href="javascript:void(0);">濕度</a></li>
              </ul>
            </div>
            <div *ngIf="iftttDevice[2]=='AQI'" ngbDropdown class="dropdown col-xs-4 col-sm-2">
              <button class="btn btn-default dropdown-toggle" type="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{AQIString[iftttDevice[3]]}}
                <span class="caret"></span>
              </button>
              <ul ngbDropdownMenu class="dropdown-menu">
                <li *ngFor="let ss of AQIString; let i2 = index" (click)="deviceChange2_2(i,i2)"><a href="javascript:void(0);">{{ss}}</a></li>
              </ul>
            </div>

            <div *ngIf="iftttDevice[2]!=='AQI'" class="col-xs-4 col-sm-2">
                <input type="number" class="form-control" placeholder="整數字" style="min-width: 70px;margin: 5px 0" [(ngModel)]="iftttDevice[3]" name="monitor_value">
            </div>
            <hr class="col-xs-12" style="margin-left: 15px; width: calc(100% - 55px)"/>
          </div>
          <br>
          <div class="btn btn-default" (click)="addIftttDevice()">
            + Add
          </div>
        </div>
        <!-- TODO -->
        <div class="form-group" [ngClass]="{'has-error': false}" style="display: none">
          <label>重設密碼</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" placeholder="●●●●●●" name="_p"  [(ngModel)]="_p">
          </div>
          <p class="help-block">若不變更密碼，請保持此欄空白<br>請輸入6位以上密碼，接受英數符號</p>
        </div>
        <div class="form-group" [ngClass]="{'has-error': _p2!=_p}" style="display: none">
          <label>重複密碼</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="rePassword" type="password" class="form-control" placeholder="●●●●●●" name="_p2" [(ngModel)]="_p2">
          </div>
          <p class="help-block">請重複輸入密碼</p>
        </div>

        <button type="button" class="btn btn-default" (click)="reset()">還原</button>
        <button type="submit" class="btn btn-primary" (click)="saveIFTTTSettings()">儲存</button>
      </form>

    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container-fluid -->

<app-loading [loading]="loading"></app-loading>
