<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">樹梅派空汙監測專題</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li [ngClass]="navbarClass[0]" ><a href="#" (click)="setNavbarActive(0);displayComponent('MainPageComponent')">總覽</a></li>
        <li [ngClass]="navbarClass[1]" ><a href="#" (click)="setNavbarActive(1);displayComponent('MapPageComponent')">測站地圖</a></li>
        <li [ngClass]="navbarClass[2]" ><a href="#" (click)="setNavbarActive(2);displayComponent('HistoryPageComponent')">歷史數據</a></li>
        <li [ngClass]="navbarClass[3]" ><a href="#" (click)="setNavbarActive(3);displayComponent('AveragePageComponent')">平均數據</a></li>
        <li [ngClass]="navbarClass[4]" ><a href="#" (click)="setNavbarActive(4);displayComponent('ComparePageComponent')">比較工具</a></li>
        <div class="version">
          <small>v17.12.18.1</small>
        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user">
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">
      <!--動態page-->
      <ng-template appDynamicComponent></ng-template>
  </div>
</div>