<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);" routerLink="/" routerLinkActive="active">樹梅派空汙監測專題</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse" [ngbCollapse]="isCollapsed" >

      <ul class="nav navbar-nav side-nav">
        <app-login-page (isCollapsedOut)="isCollapsed = $event;"></app-login-page>
        <li [ngClass]="navbarClass[0]" ><a href="javascript:void(0);" (click)="setNavbarActive(0)" routerLink="/" routerLinkActive="active">首頁</a></li>
        <li [ngClass]="navbarClass[1]" ><a href="javascript:void(0);" (click)="setNavbarActive(1)" routerLink="/main" routerLinkActive="active">總覽</a></li>
        <li [ngClass]="navbarClass[2]" ><a href="javascript:void(0);" (click)="setNavbarActive(2)" routerLink="/history" routerLinkActive="active">歷史數據</a></li>
        <li [ngClass]="navbarClass[3]" ><a href="javascript:void(0);" (click)="setNavbarActive(3)" routerLink="/average" routerLinkActive="active">平均數據</a></li>
        <li [ngClass]="navbarClass[4]" ><a href="javascript:void(0);" (click)="setNavbarActive(4)" routerLink="/compare" routerLinkActive="active">比較工具</a></li>
        <div class="version">
          <small>v18.06.14.1</small>
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper" [ngClass]="(router.url=='/')?'noPadding':''" (click)="isCollapsed=true">
        <router-outlet></router-outlet>
  </div>
</div>
