<!-- Top Menu Items -->
<!-- ul class="nav navbar-right top-nav"-->
<ul class="nav navbar-nav">
  <li *ngIf="isLogin">
    <a href="javascript:void(0);" (click)="userCollapse = !userCollapse">
      <i class="glyphicon glyphicon-user"></i>{{_e}} <b class="caret"></b>
    </a>
    <ul class="nav navbar-nav nav-second-level" *ngIf="userCollapse" (click)="isCollapsedOut.emit(true)">
      <li>
        <a href="javascript:void(0);" routerLink="/setting" routerLinkActive="active">§ 設定</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="javascript:void(0);" (click)="logout()">§ 登出</a>
      </li>
    </ul>
  </li>
  <form id="signin" class="navbar-form navbar-right" role="form" *ngIf="!isLogin">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="email" class="form-control" placeholder="Email Address" name="_e"  [(ngModel)]="_e">
    </div>

    <div class="input-group" [ngClass]="{'has-error': _p.length<6}">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" class="form-control" placeholder="Password" name="_p" [(ngModel)]="_p">
    </div>

    <button type="submit" class="btn btn-primary" (click)="login()">登入</button>
    <button type="button" class="btn btn-primary" routerLink="/signup" routerLinkActive="active">註冊</button>
  </form>
</ul>