<div class="a-fadein">

    <div *ngIf="lineChartStandby">
        <ul class="nav nav-tabs">
            <li role="presentation" [ngClass]="{'active': dataSet=='pm1'}"><a href="javascript:void(0);" (click)="dataSet='pm1';setCharts();calcPercentageData()">PM1</a></li>
            <li role="presentation" [ngClass]="{'active': dataSet=='pm25'}"><a href="javascript:void(0);" (click)="dataSet='pm25';setCharts();calcPercentageData()">PM2.5</a></li>
            <li role="presentation" [ngClass]="{'active': dataSet=='pm10'}"><a href="javascript:void(0);" (click)="dataSet='pm10';setCharts();calcPercentageData()">PM10</a></li>
            <li role="presentation" [ngClass]="{'active': dataSet=='temp'}"><a href="javascript:void(0);" (click)="dataSet='temp';setCharts();calcPercentageData()">溫度</a></li>
            <li role="presentation" [ngClass]="{'active': dataSet=='humid'}"><a href="javascript:void(0);" (click)="dataSet='humid';setCharts();calcPercentageData()">濕度</a></li>
        </ul>

        <div *ngIf="lineChartStandby" style="display: block;">
            <canvas id="chart" baseChart width="400" height="150"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
        </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2" style="min-width: 250px">
                        <label>設定測站</label>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-4" style="padding: 0;">
                        <label>設定起始日期</label>
                    </div>
                </div>
                <div class="row" *ngFor="let userDevice of userDevices; let i = index">
                        <div ngbDropdown class="dropdown col-xs-6 col-sm-3 col-md-2">
                            <button class="btn btn-default dropdown-toggle" type="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{userDevices[i][0]}}
                                <span class="caret"></span>
                            </button>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li (click)="deviceChange(i,'取消選擇','text')"><a href="javascript:void(0);">請選擇測站</a></li>
                                <li role="separator" class="divider"></li>
                                <li (click)="deviceChange(i,'THU專題測站','text')"><a href="javascript:void(0);" style="font-weight: bold">THU專題測站</a></li>
                                <li *ngFor="let device of deviceList" (click)="deviceChange(i,device.device_id,'THU')"><a href="javascript:void(0);">{{device.device_id}}</a></li>

                                <li role="separator" class="divider"></li>
                                <li (click)="deviceChange(i,'LASS專案測站','text')"><a href="javascript:void(0);" style="font-weight: bold">LASS專案測站</a></li>
                                <li *ngFor="let device of LASSDeviceList" (click)="deviceChange(i,device.device_id,'LASS')"><a href="javascript:void(0);">{{device.device_id}}</a></li>
                            </ul>
                        </div>

                        <span class="input-group col-xs-6 col-sm-4 col-md-4 dateRangePicker" daterangepicker [ngClass]="{'red':!errDate[i], flashing:!errDate[i]}" (selected)="selectedDate($event, dateRangepickerComponentArray[i], i)">
                            <span class="form-control uneditable-input" name="daterange" style="max-height: 34px">
                                {{ dateRangepickerComponentArray[i].getTimeByDate()[0] | date:'y-M-d'}}
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span>
                </div>
                <div class="btn btn-default" (click)="addDateRangepickerComponentArray()">
                    + Add
                </div>
            </div>
            <div class="form-group">
                <label>設定時長</label> : {{duration+1}} 天
                <br>
                <mat-slider (change)="changeDuration($event)" min="1" max="31" step="1" value="7" thumb-label="true" style="width: 99%"></mat-slider>
                <br>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" [ngClass]="{'disabled': !ready}" (click)="submit()">
        </form>
    </div>
    <app-loading [loading]="loading"></app-loading>
</div>